<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @distributor.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @distributor.parent_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @distributor.status %>
</p>

<%= link_to 'Edit', edit_distributor_path(@distributor) %> |
<%= link_to 'Back', distributors_path %>
